/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Finger+Paint');

body {
  height: 100vh;
  background-image: 
  linear-gradient(
    to bottom left,
  #18487a, #004b9b, #007bff);
}

.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 20vh;
  transform: translate(-50%, -50%);
  padding-top: 1rem;
  background-color: #007bff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
  color: #ffffff;
  display: none;
}

#title-icon {
  color: rgba(0, 123, 255, 0.5);
  font-size: 2rem;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  -webkit-appearance: none;
  background: none;
  border: none;
  outline: none;
}

#title-icon:hover {
 color: rgba(0, 123, 255, 0.75);
}

#title-icon:active {
  color: rgba(0, 123, 255, 0.95);
}

#divider {
  display: none;
}

#subtitle {
  display: none;
}

#category-icon-game {
  display: inline-block;
}

#btn-container {
  position: absolute;
  min-width: 100%;
  bottom: 1rem;
  left: 0;
  text-align: center;
}

#btn-start {
  display: none;
  width: 15%;
}

#btn-restart {
  width: 20%;
  bottom: 6rem;
}

#countdown {
  vertical-align: center;
  text-align: center; 
  font-size: 5rem;
  margin-top: 10%;
}

.countdownFont {
  font-family: 'Finger Paint', cursive;
}

/*-- Category tabs --*/
.tab {
  float: left;
  width: 30%;
  border: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.category-icon {
  float: right;
  margin-right: 1rem;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  height: 228px;
  border-left: none;
  display: none;
}

/*-- Answer Choices --*/
.choice {
  color: black;
  background: none;
}

.choice:hover {
  color: white;
  background-color: #007bff;
}

.choice-icon {
  float: right;
  margin-top: 5px;
  color: rgba(20, 20, 20, 0.5);
}

/*-- Timer Bar --*/
.progress {
  margin-top: 1rem;
  background-color: grey;
  box-shadow: inset 0 0 2px #000000;
  height: 2rem;
}

#time-remaining {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
}

#timer-bar {
  background-color: #007bff;
  -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.yellow {
  background-color: #ffa600 !important;
}

.red {
  background-color: #ff0000 !important;
}

/*-- Answer response Icons --*/
.fa-check {
  color: rgb(0, 255, 0);
}

.fa-times {
  color: rgb(255, 0, 0);
}

.fa-clock {
  color: rgb(225, 100, 0);
}

/*-- Gifs --*/
#gif {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.gif-timer-bar {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 2rem;
  height: 1rem;
  background-color: #007bff;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe {
  width: 300px;
  height: 250px;
}

/*-- Media Queries --*/
@media (max-width: 1824px) {
  #title {
    font-size: 4rem;
  }
}
@media (max-width: 1635px) {
  #title {
    font-size: 3.5rem;
  }
}

@media (max-width: 1447px) {
  #title {
    font-size: 3rem;
  }
}

@media (max-width: 1258px) {
  #title {
    font-size: 2.5rem;
  }
}
