body {
  background: url(../images/bananas.png);
}


.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 40%;
  transform: translate(-50%, -50%);
  padding-top: 30px;
}


#btn-start {
  width: 20%;
  margin-top: 4rem;
  margin-left: 40%;
  margin-right: 40%;
}

/*-- Countdown Timer --*/
#countdown {
  position: relative;
  margin: auto;
  text-align: center;
}


/*-- Category tabs --*/
.tab {
  float: left;
  width: 30%;
  height: 48%;
  border: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 48%;
  display: none;
}

/*-- Answer Choices --*/
.choice {
  color: black;
  background: none;
}

.choice:hover {
  color: white;
  background-color: #007bff;
}

#gif {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

iframe {

  width: 300px;
  height: 250px;
}

.progress {
  margin-top: 1rem;
  background-color: grey;
  height: 2rem;
}

#time-remaining {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  
}