body {
  background: url(../images/bananas.png);
}


.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 40%;
  transform: translate(-50%, -50%);
}

#btn-start {
  width: 20%;
  margin: 4rem auto;
}

.btn-category {
  margin-top: 4rem;
}

/*-- Countdown Timer --*/
#countdown {
  position: relative;
  margin: auto;
  text-align: center;
}
